@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
:root {
    /* //....... Color ........// */
    --primary-color: #ef4444;
    --light-black: rgba(0, 0, 0, 0.89);
    --black: #000;
    --white: #fff;
    --grey: #aaa;
}


/* //........top text ........// */

.top-txt {
    background-color: var(--black);
}

.head {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.945);
    padding: 10px 0;
    font-size: 14px;
}
.head a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.945);
    margin: 0 10px;
}
/* //........ Navbar ........// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
    position: sticky;
    top: 0;
    background: var(--white);
    color: var(--black);
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navbar img {
    margin-left: 3rem;
}

.menu-items {
    order: 2;
    display: flex;
    margin-right: 3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.navbar-container ul a {
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    position: relative;
}

.navbar-container ul a:after {
    content: "";
    position: absolute;
    background: var(--primary-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-container ul a:hover:after {
    width: 100%;
}
@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }
    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
.navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        /* margin-left: -40px;
        padding-left: 40px; */
        text-align: center;
        transition: transform 0.5s ease-in-out;
        /* box-shadow: 5px 0px 10px 0px #aaa; */
        overflow: scroll;
    }
    .navbar .menu-items li {
        margin-bottom: 2rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .menu-items li,
    .navbar img {
        margin: 0;
    }
    .navbar .menu-items li:nth-child(1) {
        margin-top: 1.5rem;
    }
    .navbar-container .logo img {
        position: absolute;
        top: 10px;
        right: 15px;
        margin-top: 8px;
    }
    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    .navbar-container input[type="checkbox"]:checked~.home_page img {
        display: none;
        background: #fff;
    }
}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked~.navbar-container img {
        display: none;
    }
}
/* //........ yged byha Home ........// */

.home_page img {
    height: auto;
    width: 100%;
    background-position: center;
    position: relative;
    background-size: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.home_txt {
    position: absolute;
    top: 37%;
    left: 5%;
}
.home_txt p {
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}
.home_txt h2 {
    font-size:50px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--light-black);
}
.home_txt .home_label p {
    color:var(--light-black);
    font-size: 12px;
    font-weight: 600;
    padding-top: 30px;
}
.home_txt a {
    text-decoration: none;
    color: var(--white);
}
.home_txt button {
    background-color: var(--primary-color);
   border-radius: 10px;
    color: var(--white);
    border: none;
    padding: 15px 30px;
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.home_txt .bx-right-arrow-alt {
    font-size: 25px;
    padding-left: 5px;
}

.home_txt .home_social_icons a {
    text-decoration: none;
    color: var(--light-black);
    margin-right: 15px;
    font-size: 18px;
}
@media (max-width: 768px) {
    .home_txt h2 {
        font-size: 2rem;
    }
    .collections .content {
        width: 100%;
    }

    .navbar-container img {
        width: 60%;
    }

}


/* //........ Collections ........// */

.collections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 65px;
}

.content {
    width: 330px;
    margin: 20px;
    position: relative;
}

.content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content:hover::after {
    opacity: 1;
}

.content img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content p {
    font-size: 1.6rem;
}

.img-content button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
}

.img-content a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s;
}

.img-content button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.img-content button:hover~.img-content a {
    color: var(--primary-color);
}

.img-content a:hover {
    color: var(--primary-color);
}

.content:hover .img-content {
    opacity: 1;
    top: 50%;
}

/* //........ Content 3 ........// */

.content3 {
    width: 250px;
    margin: 20px;
    position: relative;
}

.content3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content3:hover::after {
    opacity: 1;
}

.content3 img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(3, 42, 75, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content3 p {
    font-size: 1.6rem;
}

.img-content3 a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.3s;
}

.img-content3 button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
}

.img-content3 button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.img-content3 button:hover~.img-content3 a {
    color: var(--primary-color);
}

.img-content3 a:hover {
    color: var(--primary-color);
}

.content3:hover .img-content3 {
    opacity: 1;
    top: 50%;
}

.content3:hover .img-content3 {
    opacity: 1;
    top: 50%;
}
/* //........ Upload Section ........// */

.upload-section {
    background-color: #f9f9f9; /* Couleur de fond pour la section d'upload */
    padding: 40px 20px; /* Espacement intérieur */
    text-align: center; /* Centrer le contenu */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
    margin: 40px auto; /* Marge pour centrer la section sur la page */
    max-width: 800px; /* Largeur maximale de la section */
}

.upload-section h2 {
    font-size: 2.5rem; /* Taille du titre */
    margin-bottom: 15px; /* Espacement sous le titre */
    color: var(--primary-color); /* Utiliser la couleur principale définie */
}

.upload-section p {
    font-size: 1.2rem; /* Taille de la description */
    color: #666; /* Couleur du texte */
    margin-bottom: 20px; /* Espacement sous la description */
}

.upload-section form {
    display: flex; /* Utilisation de flexbox pour centrer le formulaire */
    flex-direction: column; /* Alignement vertical des éléments */
    align-items: center; /* Centrer les éléments horizontalement */
}

.upload-section input[type="file"] {
    margin-bottom: 20px; /* Espacement sous l'input */
    border: 2px dashed var(--primary-color); /* Bordure en pointillés */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espacement intérieur */
    width: 80%; /* Largeur de l'input */
    font-size: 1rem; /* Taille de la police */
}

.upload-section button {
    background-color: var(--primary-color); /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement intérieur */
    font-size: 1.2rem; /* Taille de la police */
    cursor: pointer; /* Changer le curseur au survol */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
}
.upload-section button:hover {
    background-color: #0056b3; /* Couleur au survol */
}

#product1{
  text-align: center;
}
.rating {
    color: #fbbf24;
    font-size: 18px;
}
#product1 .pro-container{
display: flex;
justify-content: center;
margin: 10px 100px 10px 100px;
flex-wrap: wrap
}

#product1 .pro{
  width: 5%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px ;
  transition: 0.2s ease;
  position: relative;
}

#product .pro:hover{
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
  width: 100%;
  max-height: 290px;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #ef4444;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}


#product1 .pro .des h4{
  font-size: 15px;
  padding-top: 7px;
  font-weight: 700;
  color: #ef4444;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #f1f1f1;
  font-weight: 500;
  color: #ef4444;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  
}

#prodetails{
  display: flex;
  margin-top: 126px;
}

#prodetails .single-pro-image{
  width: 80%;
  margin: 20px
}
.small-img-group{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;

}
#prodetails .single-pro-details{
  width: 50%;
  padding: 30px;
  text-align: left;
}

#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;

}

#prodetails .single-pro-details h2{
font-size: 26px;

}

#prodetails .single-pro-details select{
display: block;
padding: 5px 10px;
margin-bottom: 10px;
outline: none;
}

#prodetails .single-pro-details input{
width: 80px;
height: 40px;
padding-left: 10px;
font-size:16px;
margin-right: 10px;
outline: none;
}

#prodetails .single-pro-details button{
  
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef4444;
  box-shadow: 0 5px #ff3c78;
}

#prodetails .single-pro-details .btn:hover {
  box-shadow: 0 3px #ff3c78;
  top: 1px;
}
#prodetails .single-pro-details .btn:active {
  box-shadow: 0 0 #ff3c78;
  top: 5px;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}


/********** semilarité********/
#similarImagesHeading {
    text-align: center;  
    font-size: 2.5em; 
    color: #000000;  
    text-transform: uppercase;  
    letter-spacing: 2px; 
    margin: 20px 0; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
    background-color: #f0f0f0;  
    padding: 10px;  
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
#similarImagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Center the images in the container */
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 100%;
}

#similarImagesList li {
    flex: 1 1 calc(25% - 20px);  /* 4 images per row (25% width for 4 images) */
    max-width: 25%;  /* Ensure images don't grow too large */
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;  /* Center the image within the li container */
    align-items: center;  /* Vertically center the image */
}

#similarImagesList li:nth-child(n+5) {
    flex: 1 1 calc(33.33% - 20px);  /* 3 images per row after the first 4 images */
    max-width: 33.33%;  /* Ensure the images fit correctly */
}

#similarImagesList img {
    width: 100%;
    height: 200px;  /* Uniform height */
    object-fit: cover;  /* Ensure aspect ratio is maintained */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#similarImagesList li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#similarImagesList img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
/******************************/

.dropdown-container {
    margin-bottom: 20px;
}

select {
    padding: 10px;
    margin-left: 150px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

.info-div {
    display: none; 
    border: 1px solid #007BFF;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    background-color: #ffffff;
    width: 300px;
}