
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='wassim.css') }}">
    
    
    
    <title>SmartFits Online Clothing Store</title>
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<body>
  <!-- section 111111111111  -->
    <section class=" top-txt ">
        <div class="head container ">
            <div class="head-txt ">
            </div>
            <div class="sing_in_up ">
                <a href="# ">SIGN IN</a>
                <a href="# ">SIGN UP</a>
            </div>
        </div>
      </section>
    <nav class="navbar">
        <div class="navbar-container">
            <input type="checkbox" name="" id="checkbox">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
           <ul class="menu-items">
                <li><a href="#home">Home</a></li>
                <li><a href="#sellers">Shop</a></li>
                <li><a href="#news">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="logo">
                <img src="" alt="">
            </div>
        </div>
      </nav>
      <!-- section 2222222222222222222 -->
    <section id="home">
        <div class="home_page ">
            <div class="home_img ">
                <img src="https://i.postimg.cc/t403yfn9/home2.jpg" alt="img ">
            </div>
          <div class="home_txt ">
                <p class="collectio ">SUMMER COLLECTION</p>
  <h2>Your Style, Your Identity<br></h2>
                <div class="home_label ">
                    <p>A platform dedicated to offering premium quality fashion essentials <br>Thoughtfully designed, our clothing combines style and comfort<br> with a commitment to ethical standards.</p>
                </div>
          <button><a href="#sellers">SHOP NOW</a><i class='bx bx-right-arrow-alt'></i></button>
                <div class="home_social_icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-pinterest'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
        </div>
      </section>
      <!-- section 33333333333333333333333333333333333333  -->
    <section id="collection">
        <div class="collections container">
            <div class="content3">
                <img src="static\images\homme.jpg" alt="img" />
                <div class="img-content3">
                    <p> Men Clothing Collections</p>
                    <button><a href="#sellers">SHOP NOW</a></button>
                </div>
               </div>
            <div class="content3">
                <img src="static\images\f3.jpg" alt="img" />
                <div class="img-content3">
                    <p>Women Clothing Collections</p>
                    <button><a href="#sellers2">SHOP NOW</a></button>
                </div>
            </div>
            <div class="content3">
              <img src="static\images\enf.jpg" alt="img" />
              <div class="img-content3">
                  <p>Children Clothing Collections</p>
                  <button><a href="#sellers2">SHOP NOW</a></button>
              </div>
          </div>
        </div>
       </section>

<!-- Image Upload Section 4444444444444 -->

 <!-- drop down list -->

 <div  id="select" class="dropdown-container">
  <select id="choix" name="choix" onchange="showDiv()">
      <option value="Homme">Homme</option>
      <option value="Femme">Femme</option>
      <option value="Enfant">Enfant</option>
  </select>
</div>

 <!-- Image Upload Section -->
 <section id="upload" class="upload-section">
  <div class="container">
    <h2>Upload Your Clothing Image</h2>
    <p>Upload an image and click the button to detect fabric type and find similar clothing.</p>
    <form id="imageForm" method="POST" enctype="multipart/form-data">
      <input id="fileInput" type="file" name="file" accept="image/*" required>
      <button id="uploadButton" type="button">Find Similar Clothing</button>
    </form>
    <!-- Conteneur pour l'aperçu de l'image -->
    <div id="previewContainer" >
      <img id="imagePreview" class="image-preview"  />
    </div>
    
  </div>
</section>




<!-- section homme  -->
<div id="defaultDiv" style="display: none;">
<section id="sellers">
  <section id="product1" class="section-p1">
  <h2>Featured Products for man</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="pro-container">
    <div class="pro">
      <img src="static/chem1.jpg" alt="" >
      <div class="des">
        <span>ZARA</span>
        <h5>Chemise red</h5>
        <div class="rating">★★★★☆</div>
        <h4>78 DT</h4>
      </div>
      <a href="/cart"><i class="fal fa-shopping-cart cart"></i></a> 
    </div>
    <div class="pro">
      <img src="static/pull1.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Black Tshirts</h5>
        <div class="rating">★★★★☆</div>
        <h4>78 DT</h4>
      </div>
      <a href="/p2"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="static/pant7.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Gray pant</h5>
        <div class="rating">★★★★☆</div>
        <h4>100 DT</h4>
      </div>
      <a href="/p3"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="static/montre6.jpg" alt="">
      <div class="des">
        <span></span>
        <h5>green watch</h5>
        <div class="rating">★★★★☆</div>
      
        <h4>450 DT</h4>
      </div>
      <a href="/p4"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
    


  <!-- section 55555555555555555  -->
<section id="sellers2">
  <section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="pro-container">
    <div class="pro">
      <img src="https://i.postimg.cc/kg9YYbTn/f1.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Carton Astronault Tshirts</h5>
        <div class="rating">★★★★☆</div>
     
        <h4>$78</h4>
      </div>
      <a href=""><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
    
    <div class="pro">
      <img src="https://i.postimg.cc/2yhT2kvb/f2.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Carton Leave Tshirts</h5>
        <div class="rating">★★★★☆</div>
        
        <h4>$78</h4>
      </div>
      <a href=""><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
    
    <div class="pro">
      <img src="https://i.postimg.cc/VL9DtNm2/f3.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Rose Multicolor Tshirts</h5>
        <div class="rating">★★★★☆</div>
       
        <h4>$78</h4>
      </div>
      <a href=""><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
    
    <div class="pro">
      <img src="https://i.postimg.cc/vZ3hPS1z/f4.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Pink Flower Tshirts</h5>
        <div class="rating">★★★★☆</div>
      
        <h4>$78</h4>
      </div>
      <a href=""><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
    
    
    <div class="pro">
      <img src="https://i.postimg.cc/q7FLrhx6/f5.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Purple Flowering Tshirts</h5>
        <div class="rating">★★★★☆</div>
      
        <h4>$78</h4>
      </div>
      <a href=""><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    
    
    
    
  </div>
</div>

</div>  

<!-- section femme  -->
<div id="femmeDiv" >
  <section id="sellers">
    <section id="product1" class="section-p1">
    <h2>Featured Products for women</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
      <div class="pro">
        <img src="static/sac1.jpg" alt="" >
        <div class="des">
          <span>ZARA</span>
          <h5>Sac à main</h5>
          <div class="rating">★★★★☆</div>
          <h4>450 DT</h4>
        </div>
        <a href=""><i class="fal fa-shopping-cart cart"></i></a> 
      </div>
      <div class="pro">
        <img src="static/sac2.jpg" alt="">
        <div class="des">
          <span>hermes</span>
          <h5>Sac à main</h5>
          <div class="rating">★★★★☆</div>
          <h4>250 DT</h4>
        </div>
        <a href=""><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
        <img src="static/bague1.jpg" alt="">
        <div class="des">
          <span>adidas</span>
          <h5>bague or</h5>
          <div class="rating">★★★★☆</div>
          <h4>1100 DT</h4>
        </div>
        <a href=""><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
        <img src="static/jupe2.jpg" alt="">
        <div class="des">
          <span></span>
          <h5>jupe blue</h5>
          <div class="rating">★★★★☆</div>
        
          <h4>45 DT</h4>
        </div>
        <a href=""><i class="fal fa-shopping-cart cart"></i></a>
      </div>
            
    </div>
</div>

<!-- section enfant  -->
<div id="enfantDiv" >
  <section id="sellers">
    <section id="product1" class="section-p1">
    <h2>Featured Products for babies</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
      <div class="pro">
        <img src="static/enf3.jpg" alt="" >
        <div class="des">
          <span>ZARA</span>
          <div class="rating">★★★★☆</div>
          <h4>20 DT</h4>
        </div>
        <a href=""><i class="fal fa-shopping-cart cart"></i></a> 
      </div>
      <div class="pro">
        <img src="static/suc2.png" alt="">
        <div class="des">
          <span>hermes</span>
          <h5>sucette</h5>
          <div class="rating">★★★★☆</div>
          <h4>25 DT</h4>
        </div>
        <a href=""><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
        <img src="static/enf1.jpg" alt="">
        <div class="des">
          <span>adidas</span>
          <div class="rating">★★★★☆</div>
          <h4>1100 DT</h4>
        </div>
        <a href=""><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
        <img src="static/suc7.png" alt="">
        <div class="des">
          <span></span>
          <h5>sucette</h5>
          <div class="rating">★★★★☆</div>
        
          <h4>45 DT</h4>
        </div>
        <a href=""><i class="fal fa-shopping-cart cart"></i></a>
      </div>
            
    </div>
  </div>


<div id="uploadedDiv" style="display: none;">
  

  <h1 id="similarImagesHeading">Similar Images Found</h1>
  <ul id="similarImagesList">
  </ul>
  
</div>

<script>


  const uploadButton = document.getElementById('uploadButton');
  const fileInput = document.getElementById('fileInput');
  const defaultDiv = document.getElementById('defaultDiv');
  const femmeDiv = document.getElementById('femmeDiv');
  const enfantDiv = document.getElementById('enfantDiv');
  const select = document.getElementById('select');
  const uploadedDiv = document.getElementById('uploadedDiv');

  uploadButton.addEventListener('click', function() {
    const file = fileInput.files[0];  
    if (!file) {
      alert("Please select an image file first.");
      return;
    }

    const formData = new FormData();
    formData.append('file', file);

    fetch('/', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json()) 
    .then(data => {
      const similarImagesList = uploadedDiv.querySelector('ul');
      similarImagesList.innerHTML = ''; 
      if (data.similar_images && data.similar_images.length > 0) {
          data.similar_images.forEach(image => {
              const li = document.createElement('li');
              li.innerHTML = `<img style="width:300px ; height:380px" src="static/${image}" alt="Similar Image">`;
              similarImagesList.appendChild(li);
          });
          uploadedDiv.style.display = 'block'; 
          defaultDiv.style.display = 'none'; 
          femmeDiv.style.display = 'none'; 
          enfantDiv.style.display = 'none'; 
          select.style.display = 'none'; 

      } else {
          const noImagesMsg = document.createElement('li');
          noImagesMsg.textContent = "No similar images found.";
          similarImagesList.appendChild(noImagesMsg);
          uploadedDiv.style.display = 'block'; 
          defaultDiv.style.display = 'none'; 
          femmeDiv.style.display = 'none'; 
          enfantDiv.style.display = 'none';
          select.style.display = 'none'; 

      }
    })
    .catch(error => console.error('Error:', error));
  });

  defaultDiv.style.display = 'block'; 
</script>
<script>
  function showDiv() {
      // Masquer toutes les divs d'informations
      document.getElementById("defaultDiv").style.display = "none";
      document.getElementById("femmeDiv").style.display = "none";
      document.getElementById("enfantDiv").style.display = "none";

      // Récupérer la valeur sélectionnée
      var choix = document.getElementById("choix").value;

      // Afficher la div correspondante
      if (choix === "Homme") {
          document.getElementById("defaultDiv").style.display = "block";
      } else if (choix === "Femme") {
          document.getElementById("femmeDiv").style.display = "block";
      } else if (choix === "Enfant") {
          document.getElementById("enfantDiv").style.display = "block";
      }
  }
</script>
<script>
  // JavaScript pour afficher l'aperçu de l'image
  document.getElementById('fileInput').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.src = e.target.result;
        imagePreview.style.display = 'block';
      };
      reader.readAsDataURL(file);
    }
  });
</script>